main {
  max-width: 100%;
  overflow: hidden;
}
.container-cadastro {
  display: grid;
  grid-template-columns: 1.4fr 1fr;
  grid-template-rows: 0.4fr 1fr;
  width: 100%;
  max-width: 600px;
  grid-template-areas: "title picture" "cadastro picture";
  padding: 20px 80px 40px;
  height: auto;
  align-content: center;
  margin-top: 130px;
}

h1 {
  grid-area: title;
}

.form {
  grid-area: cadastro;
  align-content: center;
  max-width: 700px;
}

.form input {
  width: 30vw;
  height: 30px;
  padding: 5px;
}

.checkbox {
  width: 40%;
  display: flex;
  margin-bottom: 10px;
}

.checkbox input {
  height: 20px;
  border-radius: 5px;
}

.checkbox label {
  margin-right: 200px;
}

.form-cadastro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
}

.form-cadastro input {
  height: 30px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.form button {
  background-color: var(--blue-button);
  color: var(--white);
  width: 200px;
  height: 50px;
  border-radius: 25px;
  cursor: pointer;
}

.picture {
  width: 10%;
  grid-area: picture;
  margin: 0;
}

.picture > img {
  width: 300px;
}

@media (max-width: 768px) {
  .container-cadastro {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 0.1fr 1fr;
    grid-template-areas: "picture" "title" "cadastro";
  }

  .form-cadastro input {
    width: 100%;
  }
  .form {
    max-width: 320px;
    margin: 0 auto;
  }
  .form-cadastro {
    align-items: center;
  }
  .form-cadastro input {
    width: 100%;
  }
}
