body {
  display: grid;
  grid-template-areas:
    header
    content
    footer;
}

.navbar {
  background-color: var(--bg-gradBlue);
  align-items: center;
  grid-area: header;
  width: 100vw;
  height: 80px;
}

.nav-logo {
  position: absolute;
  margin: 21.25% 82.08% 22.4%9.38%;
  left: 9.38%;
  right: 82.08%;
  top: 21.25%;
  bottom: 22.4%;
}

footer {
  display: absolute;
  bottom: 0;
  grid-area: footer;
  background: rgb(34, 58, 141);
  background: linear-gradient(
    45deg,
    rgba(34, 58, 141, 1) 0%,
    rgba(76, 99, 247, 1) 100%
  );
}
