.container-perfil {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 2.5fr;
  grid-template-areas: "historico solicitacao" "historico recarga";
  width: 100vw;
  padding: 20px 80px 40px;
  height: calc(100vh - 140px);
  gap: 0 100px;
}

.section-historico {
  grid-area: historico;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--modal-bg);
  border-radius: 30px;
  padding: 40px;
}

.section-historico > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-historico input,
.section-historico select {
  width: 100%;
  height: 30px;
  border: 1px solid var(--border-form);
}

.section-historico button {
  align-self: flex-end;
}

.cartoes {
  margin-top: 100px;
}

.cartoes select {
  margin-top: 10px;
}

.section-solicitacao {
  grid-area: solicitacao;
  font-family: var(--fontGeral);
  font-weight: initial;
}

.section-recarga {
  justify-content: space-around;
  background-color: var(--modal-bg);
  grid-area: recarga;
  border-radius: 30px;
  padding: 50px;
}

.section-recarga select,
input {
  width: 100px;
  border-radius: 5px;
  text-align: center;
}

.linha1 {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
