main {
  width: 100vw;
  height: 85vh;
  display: flex;
  justify-content: center;
}
.container-perfil {
  display: grid;
  grid-template-columns: 1.5fr 3fr;
  grid-template-rows: 1fr 2.5fr;
  grid-template-areas: "historico solicitacao" "historico recarga";
  width: 80%;
  padding: 20px 80px 40px;
  height: auto;
  gap: 1.5rem 3.125rem;
}

.historico .titulo {
  font-family: var(--font-geral);
  font-size: 1.5rem;
}

.section-historico {
  grid-area: historico;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--modal-bg);
  border-radius: 1.875rem;
  padding: 2.5rem;
  box-shadow: 2px 1px 5px 0px rgba(131, 128, 201, 0.57);
}

.section-historico > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-historico input,
.section-historico select {
  width: 100%;
  height: 2rem;
  border: none;
  border-radius: 0.25rem;
  box-shadow: 2px 1px 5px 0px rgba(131, 128, 201, 0.57);
}

.section-historico button {
  align-self: flex-end;
  width: 6.25rem;
  height: 3.25rem;
  font-family: var(--font-geral);
  font-size: 16px;
  background-color: var(--blue-button);
  color: var(--white);
  border-radius: 1rem;
}

.cartoes {
  margin-top: 1rem;
}

.titulo {
  font-family: var(--font-geral);
  font-size: 24px;
  color: var(--blue-txt);
}

.cartoes select {
  margin-top: 10px;
  border-radius: 0.25rem;
}

.section-solicitacao {
  grid-area: solicitacao;
  font-family: var(--fontGeral);
  font-weight: initial;
}

.section-solicitacao .quero-recarga {
  display: flex;
  justify-content: space-between;
}

.section-solicitacao .quero-chip {
  display: flex;
  justify-content: space-between;
}

.section-solicitacao .btn {
  background-color: var(--blue-button);
  color: var(--white);
  width: 12.5rem;
  height: 3.125rem;
  border-radius: 1.563rem;
  margin-top: 1.563rem;
  font-family: var(--font-geral);
  font-size: 16px;
}

.section-solicitacao p {
  margin-top: 1rem;
  font-size: 2rem;
}

.section-recarga {
  font-family: var(--font-geral);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  justify-content: space-around;
  background-color: var(--modal-bg);
  grid-area: recarga;
  border-radius: 1.875rem;
  padding: 3.125rem;
  gap: 3.125rem;
  box-shadow: 2px 1px 5px 0px rgba(131, 128, 201, 0.57);
  height: auto;
}

.section-recarga p {
  margin-bottom: 50px;
}

footer {
  display: flex;
  bottom: 0;
  position: fixed;
  width: 100%;
}

@media (max-width: 768px) {
  .container-perfil {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 0.8fr 3fr;
    grid-template-areas: "historico" "solicitacao" "recarga";
    width: 100%;
    /* overflow: hidden; */
    height: auto;
    margin-top: 120px;
  }
  .section-historico {
    width: 320px;
  }

  .section-solicitacao {
    width: 320px;
  }

  .section-recarga {
    width: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .btn {
    color: var(--blue-txt);
    font-size: 12px;
    font-weight: bold;
    width: auto;
    height: 6.25rem;
    border-radius: 10px;
  }
}
