

.container-perfil {
  display: grid;
  grid-template-columns: 1.5fr 3fr;
  grid-template-rows: 1fr 2.5fr;
  grid-template-areas: "historico solicitacao" "historico recarga";
  width: 100%;
  padding: 20px 80px 40px;
  height: auto;
  gap: 1.5rem 3.125rem;
}

.historico .titulo {
  font-family: var(--font-geral);
  font-size: 1.5rem;
}

.section-historico {
  grid-area: historico;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--modal-bg);
  border-radius: 1.875rem;
  padding: 2.5rem;
  box-shadow: 2px 1px 5px 0px rgba(131, 128, 201, 0.57);
}

.section-historico > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-historico input,
.section-historico select {
  width: 100%;
  height: 3rem;
  border: none;
  border-radius: 0.25rem;
  box-shadow: 2px 1px 5px 0px rgba(131, 128, 201, 0.57);
}

.section-historico button {
  align-self: flex-end;
  width: 6.25rem;
  height: 3.25rem;
  font-family: var(--font-geral);
  font-size: 1.5rem;
  background-color: var(--blue-button);
  color: var(--white);
  border-radius: 1rem;
}

.cartoes {
  margin-top: 6.25rem;
}

.cartoes .titulo {
  font-family: var(--font-geral);
  font-size: 1.5rem;
}

.cartoes select {
  margin-top: 10px;
  border-radius: 0.25rem;
}

.section-solicitacao {
  grid-area: solicitacao;
  font-family: var(--fontGeral);
  font-weight: initial;
}

.section-solicitacao .quero-recarga {
  display: flex;
  justify-content: space-between;
}

.section-solicitacao .quero-chip {
  display: flex;
  justify-content: space-between;
}

.section-solicitacao .btn {
  background-color: var(--blue-button);
  color: var(--white);
  width: 12.5rem;
  height: 3.125rem;
  border-radius: 1.563rem;
  margin-top: 1.563rem;
  font-family: var(--font-geral);
  font-size: 1.5rem;
}

.section-solicitacao p {
  margin-top: 1rem;
  font-size: 2rem;
}

.section-recarga {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.8fr 1fr 1fr 0.8fr;
  justify-content: space-around;
  background-color: var(--modal-bg);
  grid-area: recarga;
  border-radius: 1.875rem;
  padding: 3.125rem;
  gap: 3.125rem;
  box-shadow: 2px 1px 5px 0px rgba(131, 128, 201, 0.57);
}

.oper {
  margin-top: 24px;
}

.section-recarga input,
select {
  font-family: var(--font-form);
  width: 6.25rem;
  border-radius: 0.25rem;
  text-align: center;
  height: 3.25rem;
}

.ddd {
  margin-top: 10px;
}
.section-recarga .ddd select {
  font-family: var(--font-form);
  width: 6.25rem;
  border-radius: 0.25rem;
  text-align: center;
  height: 1.625rem;
  margin-top: 5px;
}

.btn-padrao {
  color: var(--blue-txt);
  font-size: 2.5rem;
  font-weight: bold;
  width: 6.25rem;
  height: 6.25rem;
  border-radius: 10px;
}

.btn-col4 {
  color: var(--blue-txt);
  font-size: 2.5rem;
  font-weight: bold;
  width: 9.375rem;
  height: 6.25rem;
  border-radius: 10px;
}

.col4 input {
  width: 9.375rem;
  height: 3.25rem;
  border-radius: 10px;
}

.linha4 {
  width: 6.25rem;
  height: 3.25rem;
  border-radius: 10px;
  font-family: var(--font-geral);
  font-size: 1rem;
  font-weight: bold;
}

.btn-linha4 {
  width: 6.25rem;
  height: 3.25rem;
  font-family: var(--font-geral);
  font-size: 1.5rem;
  background-color: var(--blue-button);
  color: var(--white);
  border-radius: 1.625rem;
}

.valores p {
  font-family: var(--font-geral);
  font-size: 1.25rem;
  color: var(--blue-txt);
}

.total p {
  width: 6.25rem;
  font-family: var(--font-geral);
  font-weight: bold;
  font-size: 2.5rem;
  color: var(--blue-txt);
}

footer {
  display: flex;
  bottom: 0;
  position: relative;
  width: 100%;
}
